::ng-deep .mat-horizontal-stepper-header {
  height: 28px !important;
  padding: 0 !important;
  display: block !important;
  width: auto;
}

::ng-deep .mat-step-header .mat-step-icon-selected {
  display: flex;
  width: 28px;
  color: #fff !important;
  border: none !important;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;

  border-radius: 8px;
  background: var(--primary-turtoise-green, #00b0cb) !important;
}

::ng-deep .mat-step-header .mat-step-icon {
  display: flex;
  width: 28px;
  margin-right: 0px !important;
  height: 28px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #a1aaa8;
  color: #2d3030;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  /* 142.857% */
  background-color: #fff;
}

::ng-deep .mat-stepper-horizontal-line {
  display: none;
}

::ng-deep .mat-step-header .mat-step-label {
  display: none;
}

::ng-deep .mat-horizontal-content-container {
  padding: 0px !important;
}

.limmer {
  border-radius: 8px;
  /* background: #D9ECEF; */
  padding: 14.5px 0;
  border: 1px solid var(--Secondary-Orange, #f89a25);
  margin: 20px 0;
}

.timmereflex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.timmerbell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.timmerbell h6 {
  color: var(--primary-dark-blue, #252c63);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  /* 183.333% */
  letter-spacing: 0.24px;
  margin: 0%;
}

.timmerbell h6 span {
  color: var(--text-black, #f89a25) !important;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.56px;
  margin-left: 6px;
}

.timmereflex a {
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.56px;
  background: var(
    --gradient-light,
    linear-gradient(90deg, #00b6cb 0%, #253b95 100%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
}

.quationstep p {
  color: var(--text-dark-grey, #747e7d);
  font-family: Manrope;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.48px;
  text-transform: uppercase;
  margin: 0%;
  margin-top: 32px;
  margin-bottom: 6px;
}

.quationstep h6 {
  color: #1a2452;
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  /* 150% */
  letter-spacing: 0.32px;
  margin: 0%;
  margin-bottom: 16px;
}

.fixfooter {
  /* position: fixed; */
  bottom: 24px;
  left: 0px;
  width: 94% !important;
  justify-content: space-between;
  right: 0px;
  margin: auto;
  display: flex;
  gap: 16px;
}

.mobile-nav .fixfooter {
  position: relative;
  bottom: 24px;
  left: 0px;
  width: 100% !important;
  justify-content: center;
  right: 0px;
  margin: auto;
  display: flex;
  gap: 16px;
  margin-top: 6rem;
}

.veryfybutton {
  display: flex;
  flex: 1;
  padding: 14px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;

  background: var(
    --gradient-light,
    linear-gradient(90deg, #00b6cb 0%, #253b95 100%)
  );
}

.veryfybutton button {
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  text-decoration: none;
  padding: 0%;
  padding: 16px 70px;
}

.mobile-nav .veryfybutton button {
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  text-decoration: none;
  padding: 0%;
}

.veryfybutton a {
  color: #fff;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  text-decoration: none;
}

.prewew {
  position: relative;
  padding: 12px;
  background: transparent;
}

.prewew::before {
  content: "";
  inset: 0;
  position: absolute;
  border-radius: 8px;
  padding: 1px;
  background: linear-gradient(45deg, #00b6cb, #253b95);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude !important;
}

.prewew button {
  color: var(--primary-dark-blue, #252c63) !important;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.56px;
  text-decoration: none;
}

/* label container */
.radio-button-container {
  color: rgba(0, 0, 0, 0.75);
  display: block;
  position: relative;
  border-radius: 8px;
  border: 1px solid #e0e0e0;
  padding: 11.5px 16px;
  height: 48px;
  margin-bottom: 12px;
  position: relative;
}

::ng-deep .mat-radio-label-content {
  color: #2d3030;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.28px;
  margin: 0%;
}

/* Create a custom radio button */
::ng-deep .mat-radio-outer-circle {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  border-radius: 50%;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(to right, #00b6cb, #253b95) border-box;
  border: 1.5px solid transparent !important;
  transition: all 0.3s;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle {
  background: var(
    --gradient-light,
    linear-gradient(90deg, #00b6cb 0%, #253b95 100%)
  );
}

::ng-deep .mat-radio-checked .mat-radio-label-content {
  font-weight: bold;
  color: #2d3030;
}

::ng-deep .mat-radio-checked label::after {
  color: rgba(0, 0, 0, 0.75);
  position: absolute;
  border-radius: 8px;
  padding: 11.5px 16px;
  height: 48px;
  margin-bottom: 12px;
  top: 0;
  right: 0;
  left: 0;
  content: "";
  inset: 0;
  padding: 1px;
  background: linear-gradient(45deg, #00b6cb, #253b95);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
}

::ng-deep .mat-horizontal-stepper-header-container {
  white-space: initial !important;
  display: -webkit-inline-box !important;
  overflow: hidden;
  flex-wrap: wrap;
  display: flex !important;
  column-gap: 8px;
  row-gap: 12px;
  justify-content: start;
  display: none !important;
}

::ng-deep .mat-step-icon .mat-icon {
  font-size: 16px !important;
  height: 28px !important;
  border-radius: 8px !important;
  width: 28px !important;
  background: #28c65d;
}

::ng-deep .mat-step-icon .mat-icon::before {
  content: "\2713";
  font-family: "Material Icons";
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  margin: 4px;
}

::ng-deep .mat-radio-button .mat-radio-ripple {
  display: none;
}

.decktop-nav .fixfooter {
  position: absolute;
  bottom: 24px;
  left: 0px;
  justify-content: center !important;
  justify-content: space-between;
  right: 0px;
  margin: auto;
  display: flex;
  gap: 16px;
  height: 56px;
}

::ng-deep .decktop-nav .mat-horizontal-stepper-header-container {
  position: absolute;
  right: 0rem;
  /* width: 32%; */
  width: 17%;
  /* top: 4.4rem; */
  padding: 60px 24px 24px 24px;
  box-shadow: 0px 2px 12px 0px #0000001f;
  border-radius: 8px;
  display: none !important;
}

::ng-deep .decktop-nav .mat-horizontal-content-container {
  padding: 24px !important;
  border-radius: 16px;
  box-shadow: 0px 2px 12px 0px #0000001f;
  height: 85vh;
  position: relative;
}

::ng-deep .decktop-nav .mat-radio-label-content {
  font-size: 16px;
}

.decktop-nav .quationstep p {
  margin-top: 0px;
  font-size: 14px;
  margin-bottom: 12px;
}

.decktop-nav .veryfybutton button {
  font-size: 16px;
}

.decktop-nav .quationstep h6 {
  font-size: 18px;
  margin-bottom: 24px;
}

.decktop-nav .radio-button-container {
  margin-bottom: 16px;
}

.decktop-nav .quatiform form {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}

.decktop-nav .verfycont h6 {
  color: var(--primary-dark-blue, #252c63);
  font-family: Bitter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 1.2rem;
}

.decktop-nav .decstimer {
  position: relative;
}

.decktop-nav .deskwrap {
  position: relative;
}

.decktop-nav .timmerbell h6 {
  font-size: 14px;
}

.decktop-nav .timmerbell h6 span {
  font-size: 16px;
}

.decktop-nav .timmereflex a {
  font-size: 16px;
}

::ng-deep .decktop-nav .mat-step-header .mat-step-icon {
  height: 40px;
  width: 40px;
}

::ng-deep .decktop-nav .mat-horizontal-stepper-header {
  height: 40px !important;
  padding: 0 !important;
  display: block !important;
  width: auto;
}

::ng-deep .decktop-nav .mat-horizontal-stepper-header-container {
  column-gap: 13.8px;
  row-gap: 16px;
}

::ng-deep .decktop-nav .mat-step-icon .mat-icon {
  font-size: 16px !important;
  height: 40px !important;
  border-radius: 8px !important;
  width: 40px !important;
  background: #28c65d;
}

::ng-deep .decktop-nav .mat-step-icon .mat-icon::before {
  margin: 10px;
}

.decktop-nav .stepertcount {
  box-shadow: 0px 2px 12px 0px #0000001f;
  border-radius: 8px;
  margin-top: 1rem;
  padding: 24px;
}

.decktop-nav .coutnumberflex {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 14.5px;
  flex-wrap: wrap;
}

.decktop-nav .boxeria {
  height: 40px;
  width: 40px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #a1aaa8;
  color: #2d3030;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #fff;
}

.decktop-nav .afretclick {
  background: #28c65d;
  border-color: #28c65d;
  color: #fff;
}

.decktop-nav .activclick {
  background: #00b0cb;
  border-color: #00b0cb;
  color: #fff;
}

.coutnumberflex {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.boxeria {
  height: 28px;
  width: 28px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #a1aaa8;
  color: #2d3030;
  font-family: Manrope;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  background-color: #fff;
}

.afretclick {
  background: #28c65d;
  border-color: #28c65d;
  color: #fff;
}

.activclick {
  background: #00b0cb;
  border-color: #00b0cb;
  color: #fff;
}
